{% extends 'users/layout.html' %}
{% load static %}

<style>



</style>

{% block body %}
<div style="padding:0% 5%; padding-top: 5%;">
    <p3><b>About us</b></p3>
</div>
<br><br>
<div class="myDiv " style="padding:0% 3%">
    <br>
    <br>
    <br>
    <div class="row">
        <div class="column1 col-6">
            <p1>what is fortunecookies ?</p1>
            <p class="fontCandara"><b>fortunecookies</b> is a place that gives fortune to the world. In a sense, the
                <b>fortunecookies</b> website is a public
                website
                that provides opportunities for anyone who wants to gain some budget or to inform/realize people to
                profit
                the world
                or
                help human friends. They can enroll on this website to get/give some help to any problems of society
                and the
                world.
                Since the users started to enter fortunecookies they have the ability to create blogs or campaigns
                they
                could gain
                cookies that can be changed to be money for the creations by donations from other users that can be
                the
                owner of any
                blogs or general users and the expert. Our website has a team of experts who could look after the
                website
                for the
                best
                efficient consequences whether environmental experts, professional academicians, lawyers, human
                right
                activist, etc.
            </p>
        </div>
        <div class="column2 col-6">
            <center><img src="{% static 'images/Presentation1.png' %}" alt="Flowers in Chania" width="460"
                    height="345" /></center>
        </div>
    </div>

    <div class="row" style="padding: 10px;">
        <p1>what can we serve ?</p1>
        <p class="fontCandara">After you have enrolled on our website you can create your blog that can be shown on this
            website to gain
            some
            budgets
            for helping your matters. You could initialize cookies for starting the blogs and you can get the
            profits
            from
            cookies
            on our website. Apart from dropping blogs here, there is a group of experts who can help you to make
            your
            blog
            trusted
            and get the most out of the benefit.</p>

    </div>
    <div class="row">
        <div class="column1">
            <p2>developer</p2><br><br>
            <p class="fontCandara">• Parames Raikhao 6310680258<br>
                • Ploynapat Bunsena 6310610966<br>
                • Sireetorn Ontrakul 6310611048<br>
                • Chutirat Kaewchay 6310682643<br>
                • Suteekran Kangkreethaphol 6310682676</p>
        </div>
        <div class="column2">
            <p2 class="">developer's attachment<p2>
                    <br><br>
                    <a href="https://www.pivotaltracker.com/n/projects/2606781">pivoatl tracker</a><br>
                    <a href="https://github.com/GandaBruh/fortuneCookie">github</a><br>
                    <a href="https://app.diagrams.net/#G1TfaMeYCrzypzk0oiJrRifKtkjONMi60a">er diagram</a><br>
        </div>
    </div>
</div>
{% endblock %}