{% extends 'users/layout.html' %}
{% load static %}

{% block body %}
<div style="margin-top: 30px;">
    <center>
    <div class="paysuc">
        <h1>Payment Success!!<h1> 
        <h2>THANK YOU!! </h2><br>
        <a href="{% url 'cookieCoin' %}" class="paysucbtn" ><span>Back</span></a>
    </div>
    </center>
{% endblock %}
    <!-- <center>
        <form action="{% url 'cookieCoin' 9999 %}" method="POST">{% csrf_token %}
            <h1>Payment Success!!<h1> 
            <h2>THANK YOU!! </h2><br>
            <button type="submit" class='backccoin'>BACK</button>
        </form>
    </center>
     -->