{% extends 'users/layout.html' %}
{% load static %}

{% block body %}
<div class="cookcoin">
    <p3><b> Cookies coin </b></p3>
    <br>
    <br>
    <div>
        <p1 style="margin-left: 100px;">My cookies: </p1>
  
        <p1 id="cookietab" name="wallet"> {{ wallet.balanceCookie }}<img style="height: 40px; margin-bottom: 10px;"
            src="{% static 'images/Cookies1.PNG' %}" /><a href=" " style="border-left: none; padding-left: 0;"></a>
        </p1>
        
    </div>

        {% for ck in cookieCoin %} 
        <div class="row">
        <div class="col-3"></div>
        <div class="col-6 buycookieblog">
        <!--<h3 class="buycookieblog">-->
            <b><img style="height: 30px; margin-bottom: 5px; margin-top: 5px;" src="{% static 'images/Cookies1.PNG' %}" />
                {{ ck.cookie }} </b><a class="changeA" href="{% url 'confirmCookie' ck.id %}" style='float: right; text-decoration: none; color: #000; 
                background-color: rgba(15, 106, 23, 0.01); padding-left: 100px; margin-top: 10px;'>{{ ck.price }} $</a>
        </div>
        <div class="col-3"></div>
    </div>
    {% endfor %}

</div><br>
<div class="history">
<p3>History </p3><br><br>
    {% for hist in history %}
        {% if hist.historyType %}
            <p>#{{ hist.transactionCode }} <span style="color:rgb(66, 154, 69)">(payment complete!)</span></p>
            <p> {{ hist.date }} - {{ hist.time }} price: {{ hist.price }}$ <span style="color:rgb(66, 154, 69)">+{{ hist.cookie }}</span><img style="height: 30px; " src="{% static 'images/Cookies1.PNG' %}"/></p>
        {% else %}
            <p>#{{ hist.transactionCode }} <span style="color:rgb(66, 154, 69)">(donate complete!)</span></p>
            <p>Title: {{ hist.title }} - {{ hist.date }} - {{ hist.time }} price: {{ hist.price }}$ <span style="color:rgb(190, 51, 51)">-{{ hist.cookie }}</span><img style="height: 30px; " src="{% static 'images/Cookies1.PNG' %}"/></p>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}