{% extends 'users/layout.html' %}
{% load static %}
{% block title %} FortuneCookies | {{ blog.title }} {% endblock title %}
<style>

</style>

{% block body %}




<!-------------------- article ------------------->

<div style="padding: 5% 0%;">
<p3>{{ blog.title }}</p3>
    <div class="main">
        <br>
        <div class="description">
            <h5></h5><a href="#"><h5>{{ blog.user.first_name }} {{ blog.user.last_name }}</a> on {{ blog.date }} </h5> 
            <br>
            <p1>{{ blog.introduction }}</p1>
        </div>
        <br>
        <div class="images">
            <center>
                <img src={{ blog.image.url }} style="max-width: 500px;"/>
            </center>
        </div>
            <br><br>
        <p>{{ blog.detail|safe }}</p>
        <div class="icon">
            <span class="span-blog">
                <i style="margin-right: 5px; margin-left: 10px " class="fa-regular fa-eye"></i>100k
                <i onclick="changeHeart({{forloop.counter}})" id="LikeHeart{{forloop.counter}}"
                    style="margin-left: 10px; margin-right: 5px; cursor: pointer;" class="fa-regular fa-heart ">
                </i>1.342k
                <br>
                <br>
                <i style="margin-right: 5px; margin-left: 10px; font-size: 20px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; " >REASONS OF REPORT</i>
                <br>
                <i style="margin-right: 5px; margin-left: 10px; " ></i>
                <br>
                    REASON1
                    <br>
                    <br>
                    REASON2
                <br>
                <br>
                <form action="{% url 'verify' blog.id %}" method="POST">{% csrf_token %}
                <button class="admin" type="submit" ><span>VERIFY </span></button>
                </form>
                <form action="{% url 'reccomended' blog.id %}" method="POST">{% csrf_token %}
                <button class="admin" type="submit" ><span>RECCOMMENDED </span></button>
                </form>
                <input class="w3-check" type="checkbox" checked name="report">report
            </span>
            <br>
            <a href="{% url 'homepageadmin' %}" class="paysucbtn" ><span>Back</span></a>
        </div>
        <br>
        <!-- <div class="comment">
            <p2>comment</p2>
            <br><br>
            <p><b>Jhon Son - July 16, 2020, 3:36 p.m.</b></p>
            <p>This is my very first blog comment!!! #Test1</p>
            <p>comment</p>
            {% csrf_token %}
            {{ forms.as_p }}
        </div> -->
        <br>
    </div>
</div>


{% endblock %}