{% extends 'users/layout.html' %}
{% load static %}
{% block title %} FortuneCookies | {{ blog.title }} {% endblock title %}
<style>

</style>

{% block body %}

<!-------------------- donate -------------------->

<div class="donate" style="padding-left: 75%; margin-top: 2rem; margin-right: 1rem; padding-top: 1rem;">
    <p2>Donation: {{ blog.donate }} / {{ blog.expectCookies }}</p2>
    <form action="{% url 'detail' blog.id %}" method=POST class="d-flex" style="padding-top: 1rem;">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="text" name="donate" placeholder="donate" aria-label="donate">
        <div>
            <button class="btn btn-danger"" type=" submit">donate</button>
        </div>
    </form>
</div>

<!-------------------- article ------------------->

<div style="padding: 5% 0%;">
    <div style="text-align: center;">
        <p3>{{ blog.title }}</p3>
    </div>
    <div class="main">
        <div class="description" style="text-align: center;">
            <h51><a href="{% url 'profile' %}">By {{ blog.user.first_name }} {{ blog.user.last_name }}</a></h5>
                <br>
        </div>
        <br>
        <div class="images">
            <center>
                <img src={{ blog.image.url }} style="max-width: 600px;" />
            </center>
        </div><br><br>
        <div style="text-align: 0%; padding-left: 5rem; padding-right: 5rem;">
            <p4>{{ blog.introduction }}</p4>
        </div>
        <br>
        <p>{{ blog.detail|safe }}</p>
        <br>
        <div class="tag-design" style="padding-left: 5rem">
            <span>
                {% if blog.tag1 %}
                <p>#Environment</p>
                {% endif %}
                {% if blog.tag2 %}
                <p>#Society</p>
                {% endif %}
                {% if blog.tag3 %}
                <p>#Health</p>
                {% endif %}
                {% if blog.tag4 %}
                <p>#Economy</p>
                {% endif %}
                {% if blog.tag5 %}
                <p>#Art</p>
                {% endif %}
                {% if blog.tag6%}
                <p>#Technology</p>
                {% endif %}
                {% if blog.tag7 %}
                <p>#Other</p>
                {% endif %}
            </span>
        </div>
        <br>
        <div style="position:absolut; bottom: 0; padding-bottom: 3px;">
            <span class="span-blog" style="padding-left: 5rem;">
                <i style="color: #a96232; margin-right: 5px; margin-left: 10px;" class="fa-solid fa-cookie-bite"></i>
                {% if blog.expectCookies > 1000 %}
                {% widthratio blog.expectCookies|add:"-500" 1000 1 %}k
                {% else %}
                {{blog.expectCookies}}
                {% endif %}

                <i style="margin-right: 5px; margin-left: 10px " class="fa-regular fa-eye"></i>
                {% if blog.views > 1000 %}
                <p style="display: inline;">{% widthratio blog.views|add:"-500" 1000 1 %}k</p>
                {% else %}
                <p style="display: inline;">{{blog.views}}</p>
                {% endif %}
                {% if blog.id in like %}
                <i onclick="changeHeart({{blog.id}})" id="LikeHeart{{i.id}}"
                    style="margin-left: 10px; margin-right: 5px; cursor: pointer;" class="fa-solid fa-heart ">
                </i>
                {% else %}
                <i onclick="changeHeart({{blog.id}})" id="LikeHeart{{blog.id}}"
                    style="margin-left: 10px; margin-right: 5px; cursor: pointer;" class="fa-regular fa-heart ">
                </i>
                {% endif %}
                {% if blog.like > 1000 %}
                <p style="display: inline;">{% widthratio blog.like|add:"-500" 1000 1 %}k</p>

                {% else %}
                <p style="display: inline;" id="like{{blog.id}}">{{blog.like}}</p>
                {% endif %}
            </span>
            <span class="span-blog">
                <br>
                <br>
                <br>
                <div style="padding-left: 42%;">
                    <form action="{% url 'verify' blog.id %}" method="POST">{% csrf_token %}
                        <button class="verifybutton" type="submit" ><span>VERIFY </span></button>
                    </form>
                    <form action="{% url 'reccomended' blog.id %}" method="POST">{% csrf_token %}
                        <button class="recommendbutton" type="submit"><span>RECOMMENDED </span></button>
                    </form>
                    <form action="{% url 'verify' blog.id %}" method="POST">{% csrf_token %}
                        <button class="verifybutton" type="submit" ><span>UNREPORTED </span></button>
                    </form>
                </div><br>
            </span>
            <br><br><br><br>
            <div style="padding-left: 5%;">
                <a href="{% url 'homepageadmin' %}" class="paysucbtn"><span>Back</span></a>
            </div>
        </div>
    </div>
</div>
</div>


<script>
    function changeHeart(num) {
        id = "LikeHeart" + num;
        likeId = "like" + num;
        let value = document.getElementById(id).className.split(" ");
        like = document.getElementById(likeId).innerHTML;
        console.log(value);
        console.log(id);
        if (value.includes("fa-solid")) {
            document.getElementById(id).classList.add('fa-regular');
            document.getElementById(id).classList.remove('fa-solid');
            $.ajax({
                url: "/likeBlog",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({
                    'like': false,
                    'blogId': num
                }),
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie("csrftoken"),  // don't forget to include the 'getCookie' function
                },
                contentType: "application/json",
                success: (data) => {
                    console.log(data);
                },
                error: (error) => {
                    console.log(error);
                }
            });
            document.getElementById(likeId).innerHTML = parseInt(like) - 1

        } else {
            document.getElementById(id).classList.add('fa-solid');
            document.getElementById(id).classList.remove('fa-regular');
            $.ajax({
                url: "/likeBlog",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({
                    'like': true,
                    'blogId': num
                }),
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie("csrftoken"),  // don't forget to include the 'getCookie' function
                },
                contentType: "application/json",
                success: (data) => {
                    console.log(data);
                },
                error: (error) => {
                    console.log(error);
                }
            });
            document.getElementById(likeId).innerHTML = parseInt(like) + 1

        }
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + "=")) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

{% endblock %}