{% extends 'users/layout.html' %}
{% load static %}



{% block body %}
<!-- Team Container -->
<div class="w3-container w3-padding-64  w " id="team">
    <center>
        <h2>MEMBER</h2>
        <p>Meet the team </p>
    </center>

    <div class="w3-row"><br>

        <div style="border-radius: 20px; padding: 1% 1%;" class="w3-quarter w3-card w3-white ">
            <img src="{% static 'images/sutee.png' %}" alt="Boss" style="width:50%" class="w3-circle w3-hover-opacity">
            <h3>Dr.Sutee Na Nonthaburi</h3>
            <p>Admin</p>
            <p>National Human Rights Commission</p>
            <span class="tag-design-7">Society</span>
            <span class="tag-design-7">Economy</span>
        </div>

        <div style="border-radius: 20px; padding: 1% 1% ;" class="w3-quarter w3-card w3-white ">
            <img src="{% static 'images/natalia.png' %}" alt="Boss" style="width:50%"
                class="w3-circle w3-hover-opacity">
            <h3>Prof.Natalia Governth</h3>
            <p>Admin</p>
            <p>Health & Environment Department</p>
            <span class="tag-design-7">Environment</span>
            <span class="tag-design-7">Health</span>
        </div>

        <div style="border-radius: 20px; padding: 1% 1%;" class="w3-quarter w3-card w3-white ">
            <img src="{% static 'images/mana.png' %}" alt="Boss" style="width:50%" class="w3-circle w3-hover-opacity">
            <h3>Mr.Mana Buncharuen</h3>
            <p>Admin</p>
            <p>Software Engineering</p>
            <span class="tag-design-7">Technology</span>
            <span class="tag-design-7">Other</span>
        </div>

        <div style="border-radius: 20px; padding: 1% 1%;" class="w3-quarter w3-card w3-white ">
            <img src="{% static 'images/robhyn.png' %}" alt="Boss" style="width:50%" class="w3-circle w3-hover-opacity">
            <h3>Dr.Robhyn Robinson</h3>
            <p>Admin</p>
            <p>Museum manager & painter</p>
            <span class="tag-design-7">Economy</span>
            <span class="tag-design-7">Art</span>
        </div>

        <div style="border-radius: 20px; padding: 1% 1%;" class="w3-quarter w3-card w3-white ">
            <img src="{% static 'images/olivia.png' %}" alt="Boss" style="width:50%"
                class="w3-circle w3-hover-opacity w3-padding-64">
            <h3>Assoc.Prof.Dr.Oliva Dehokron</h3>
            <p>Admin</p>
            <p>CEO of lit International & economist</p>
            <span class="tag-design-7">Art</span>
        </div>



        <!-- Work Row -->
        <div style="border-radius: 20px;" class="w3-row-padding w3-padding-64  w3-sand w3-center" id="work">

            <div class="w3">
                <br>
                <h2>The role of admin</h2>
                <p>Admins are responsible for maintaining and reviewing the tags they are responsible for. </p>
                <br>
            </div>

            <script>
                // Script for side navigation
                function w3_open() {
                    var x = document.getElementById("mySidebar");
                    x.style.width = "300px";
                    x.style.paddingTop = "10%";
                    x.style.display = "block";
                }

                // Close side navigation
                function w3_close() {
                    document.getElementById("mySidebar").style.display = "none";
                }

                // Used to toggle the menu on smaller screens when clicking on the menu button
                function openNav() {
                    var x = document.getElementById("navDemo");
                    if (x.className.indexOf("w3-show") == -1) {
                        x.className += " w3-show";
                    } else {
                        x.className = x.className.replace(" w3-show", "");
                    }
                }
            </script>
        </div>
        {% endblock %}
        </body>

        </html>