{% extends 'users/layout.html' %}
{% load static %}

<style>


</style>

{% block body %}
<center><div style="margin-top: 2rem;">
    <p1 class="text-center"> Search Results: </p1>
</div></center>
<hr>

<!-- show blog for search -->
<!-- <div class="searchindex">
    <div class="col-4 blog-format" style="box-sizing:border-box;">
        <div style="display:flex; justify-content: space-between; align-items: center;">
            <h3 class="title-text">title</h3>
            <i class="fa-solid fa-star fa-lg"></i>
        </div>

        <p class="general-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eligendi repellat
            perspiciatis unde maxime
            fuga quis sunt molestias laudantium libero magni error eum nisi ex nam incidunt suscipit, distinctio nulla?
        </p>
        <p># Tag1, #Tag2</p>
        <span class="span-blog">
            <a href="{% url 'detail' blog.pk %}">Details</a>
            <i style="color: #a96232; margin-right: 5px; margin-left: 10px;" class="fa-solid fa-cookie-bite"></i> 1k
            <i style="margin-right: 5px; margin-left: 10px " class="fa-regular fa-eye"></i>100k
            <i onclick="changeHeart({{forloop.counter}})" id="LikeHeart{{forloop.counter}}"
                style="margin-left: 10px; margin-right: 5px; cursor: pointer;" class="fa-regular fa-heart ">
            </i>1.342k</span>
    </div>
</div> -->
{% endblock %}