{% extends 'users/layout.html' %}
{% load static %}

<style>


</style>

{% block body %}
<div class="row" style="margin-top: 30px;"></div>
<div>
    {% if blogs %}
        {% for blog in blogs %}
        <div class="col-4 blog-format" style="box-sizing:border-box;">
            <div style="display:flex; justify-content: space-between; align-items: center;">
                <h3 class="title-text">{{ blog.title }}</h3>
                <i class="fa-solid fa-star fa-lg"></i>
            </div>
            <h5>{{ blog.introduction }}</h5>
            <p class="general-text">{{ blog.detail }}</p>
            <p>{{ blog.tag }}</p>
            <span class="span-blog">
                <a href="{% url 'detail' blog.pk %}">Details</a>
                <i style="color: #a96232; margin-right: 5px; margin-left: 10px;" class="fa-solid fa-cookie-bite"></i> 1k
                <i style="margin-right: 5px; margin-left: 10px " class="fa-regular fa-eye"></i>100k
                <i onclick="changeHeart({{forloop.counter}})" id="LikeHeart{{forloop.counter}}"
                    style="margin-left: 10px; margin-right: 5px; cursor: pointer;" class="fa-regular fa-heart ">
                </i>1.342k</span>
                
        </div>
        {% endfor %}
    {% else %}
        <p2>No information to show</p2>
    {% endif %}
    <hr><center><a href="{% url 'blogpage' %}" class="paysucbtn" ><span>Back</span></a></center>
</div>


<br><br>

<!-- show blog for search -->

{% endblock %}