{% extends 'users/layout.html' %}
{% load static %}
{% block body %}
<div class="row" style="margin-top: 25px;">
    <div class="col-1"></div>
    <div style="height:250px;" class="col-4">
        <img style="max-width: 100%; max-height: 100%; border-radius: 5px;" src="{% static 'images/profile.jpg' %}" />
    </div>
    <div class="col-1"></div>
    <div class="col-4" style="font-size: 20px;">
        <p>fullname :<br>
            phone : <br>
            email :</p>
    </div>

</div>
<div style="margin-top: 50px; margin-left: 150px; font-size: 35px;">
    Blog
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-4 blog-format" style="box-sizing:border-box;">
        <div style="display:flex; justify-content: space-between; align-items: center;">
            <h3>title</h3>
            <!--<span><i style="color: black; "class="fa-solid fa-star fa-xl"></i>-->
            <i class="fa-solid fa-star fa-lg"></i>
        </div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eligendi repellat perspiciatis unde maxime
            fuga quis sunt molestias laudantium libero magni error eum nisi ex nam incidunt suscipit, distinctio nulla?
        </p>
        <p># Tag1, #Tag2</p>
        <span class="span-blog">
            <a href="#detailblog">Details</a>
            <i style="color: #a96232; margin-right: 5px; margin-left: 10px;" class="fa-solid fa-cookie-bite"></i> 1k
            <i style="margin-right: 5px; margin-left: 10px " class="fa-regular fa-eye"></i>100k
            <i onclick="changeHeart()" id="LikeHeart" style="margin-left: 10px; margin-right: 5px; cursor: pointer;"
                class="fa-regular fa-heart ">
            </i>1.342k</span>
    </div>

    <div class="col-4 blog-format" style="box-sizing:border-box;">
        <div style="display:flex; justify-content: space-between; align-items: center;">
            <h3>title</h3>
            <!--<span><i style="color: black; "class="fa-solid fa-star fa-xl"></i>-->
            <i class="fa-solid fa-star fa-lg"></i>
        </div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eligendi repellat perspiciatis unde maxime
            fuga quis sunt molestias laudantium libero magni error eum nisi ex nam incidunt suscipit, distinctio nulla?
        </p>
        <p># Tag1, #Tag2</p>
        <span class="span-blog">
            <a href="#detailblog">Details</a>
            <i style="color: #a96232; margin-right: 5px; margin-left: 10px;" class="fa-solid fa-cookie-bite"></i> 1k
            <i style="margin-right: 5px; margin-left: 10px " class="fa-regular fa-eye"></i>100k
            <i onclick="changeHeart()" id="LikeHeart" style="margin-left: 10px; margin-right: 5px; cursor: pointer;"
                class="fa-regular fa-heart ">
            </i>1.342k</span>
    </div>
    <div class="col-2"></div>
</div>
{% for i in blogs %}
{% if forloop.counter|divisibleby:2 %}
<div class="col-4 blog-format" style="box-sizing:border-box;">
    <div style="display:flex; justify-content: space-between; align-items: center;">
        <h3 class="title-text">title</h3>
        <!--<span><i style="color: black; "class="fa-solid fa-star fa-xl"></i>-->
        <i class="fa-solid fa-star fa-lg"></i>
    </div>

    <p class="general-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eligendi repellat
        perspiciatis unde maxime
        fuga quis sunt molestias laudantium libero magni error eum nisi ex nam incidunt suscipit, distinctio nulla?
    </p>
    <p># Tag1, #Tag2</p>
    <span class="span-blog">
        <a href="#detailblog">Details</a>
        <i style="color: #a96232; margin-right: 5px; margin-left: 10px;" class="fa-solid fa-cookie-bite"></i> 1k
        <i style="margin-right: 5px; margin-left: 10px " class="fa-regular fa-eye"></i>100k
        <i onclick="changeHeart({{forloop.counter}})" id="LikeHeart{{forloop.counter}}"
            style="margin-left: 10px; margin-right: 5px; cursor: pointer;" class="fa-regular fa-heart ">
        </i>1.342k</span>
</div>
<div class="col-2"></div>
</div>
{% else %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-4 blog-format" style="box-sizing:border-box;">
        <div style="display:flex; justify-content: space-between; align-items: center;">
            <h3 class="title-text">title</h3>
            <!--<span><i style="color: black; "class="fa-solid fa-star fa-xl"></i>-->
            <i class="fa-solid fa-star fa-lg"></i>
        </div>

        <p class="general-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eligendi repellat
            perspiciatis unde maxime
            fuga quis sunt molestias laudantium libero magni error eum nisi ex nam incidunt suscipit, distinctio nulla?
        </p>
        <p># Tag1, #Tag2</p>
        <span class="span-blog">
            <a href="{% url 'detail' %}">Details</a>
            <i style="color: #a96232; margin-right: 5px; margin-left: 10px;" class="fa-solid fa-cookie-bite"></i> 1k
            <i style="margin-right: 5px; margin-left: 10px " class="fa-regular fa-eye"></i>100k
            <i onclick="changeHeart({{forloop.counter}})" id="LikeHeart{{forloop.counter}}"
                style="margin-left: 10px; margin-right: 5px; cursor: pointer;" class="fa-regular fa-heart ">
            </i>1.342k</span>
    </div>

    {% endif %}
    {% endfor %}


    <!--<div class="col-4 blog-format">
        <p>title</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eligendi repellat perspiciatis unde maxime
            fuga quis sunt molestias laudantium libero magni error eum nisi ex nam incidunt suscipit, distinctio nulla?
        </p>
        <p># Tag1, #Tag2</p>
        <span ><a href="#detailblog">Details</a><i class="fa-regular fa-eye"></i><i
                class="fa-solid fa-heart"></i></span>
    </div>-->


    <script>
        function changeHeart(num) {
            id = "LikeHeart" + num
            let value = document.getElementById(id).className.split(" ");
            console.log(value)
            console.log(id)
            if (value.includes("fa-solid")) {
                document.getElementById(id).classList.add('fa-regular');
                document.getElementById(id).classList.remove('fa-solid');
                $.post("likeBlog", 
                    {
                       
                        id: id,
                        
                    })
                
            } else {
                document.getElementById(id).classList.add('fa-solid');
                document.getElementById(id).classList.remove('fa-regular');
            }
        }
    </script>
    {% endblock %}