{% extends 'users/layout.html' %}
{% load static %}
{% block body %}
<div class="row" style="padding-top: 25px;">
    <div class="col-1"></div>
    <div style="height:250px;" class="col-4">
        <img style="max-width: 100%; max-height: 100%; border-radius: 5px;" src="{% static 'images/profile.jpg' %}" />
    </div>
    <div class="col-1"></div>
    <div class="col-4" style="font-size: 20px;">
        <p>fullname : {{user.user.first_name}} {{user.user.last_name}}<br>
            phone : {{user.phone}}<br>
            email : {{user.user.email}}</p>


    </div>

</div>
<div style="margin-top: 50px; margin-left: 150px; font-size: 35px;">
    Blog
</div>

{% for i in blogs %}
{% if forloop.counter|divisibleby:2 %}
<div class="col-4 blog-format">
    <div class="'blog-body">
        <div class="blog-img">
            <img src="{{i.image.url}}">
        </div>
        
        <div class="blog-title" style="display:flex; justify-content: space-between; align-items: center;">
            <div>
                <h3 style="display: inline; padding-right: 5px;" class="title-text">{{ i.title }}</h3>
                
            </div>
            
            <!--<span><i style="color: black; "class="fa-solid fa-star fa-xl"></i>-->
                {% if i.recommended %}
                <i class="fa-solid fa-star fa-lg"></i>
                {% else %}
                <i class="fa-regular fa-star fa-lg"></i>
                {% endif %}
        </div>
        <span class="blog-text">
            <p class="general-text">{{i.introduction}}
            </p>
        </span>
        
        
    </div>
    <span>
        {% if i.tag1 %}
        <p class="tag-design-1">#Environment</p>
        {% elif i.tag2 %}
        <p class="tag-design-2">#Society</p>
        {% elif i.tag3 %}
        <p class="tag-design-3">#Health</p>
        {% elif i.tag4 %}
        <p class="tag-design-4">#Economy</p>
        {% elif i.tag5 %}
        <p class="tag-design-5">#Art</p>
        {% elif i.tag6%}
        <p class="tag-design-6">#Technology</p>
        {% elif i.tag7 %}
        <p class="tag-design-7">#Other</p>
        {% endif %}
    </span>
    <div style="position:absolute; bottom: 0; padding-bottom: 3px;">
        
        <span  class="span-blog" style="float: left">
            <a href="{% url 'detail' i.id %}" style="font-weight: 1000; text-decoration: none;" >Readmore <i class="fa-solid fa-arrow-right"></i></a>
            
        <i style="color: #a96232; margin-right: 5px; margin-left: 10px;" class="fa-solid fa-cookie-bite"></i> 
        {% if i.expectCookies > 1000 %}
        {% widthratio i.expectCookies|add:"-500" 1000 1 %}k
        {% else %}
        {{i.expectCookies}}
        {% endif %}
        
        <i style="margin-right: 5px; margin-left: 10px " class="fa-regular fa-eye"></i>
        {% if i.views > 1000 %}
        <p style="display: inline;">{% widthratio i.views|add:"-500" 1000 1 %}k</p>
        {% else %}
        <p style="display: inline;" >{{i.views}}</p>
        {% endif %}
        {% if i.id in like %}
        <i onclick="changeHeart({{i.id}})" id="LikeHeart{{i.id}}"
            style="margin-left: 10px; margin-right: 5px; cursor: pointer;" class="fa-solid fa-heart ">
        </i>
        {% else %}
        <i onclick="changeHeart({{i.id}})" id="LikeHeart{{i.id}}"
            style="margin-left: 10px; margin-right: 5px; cursor: pointer;" class="fa-regular fa-heart ">
        </i>
        {% endif %}
        {% if i.like > 1000 %}
        <p style="display: inline;">{% widthratio i.like|add:"-500" 1000 1 %}k</p>
       
        {% else %}
        <p style="display: inline;" id="like{{i.id}}">{{i.like}}</p>
        {% endif %}</span>
    </div>
</div>

<div class="col-2"></div>
</div>
{% else %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-4 blog-format">
        <div class="'blog-body">
            <div class="blog-img">
                <img src="{{i.image.url}}">
            </div>
            
            <div class="blog-title" style="display:flex; justify-content: space-between; align-items: center;">
                <div>
                    <h3 style="display: inline; padding-right: 5px;" class="title-text">{{ i.title }}</h3>
                    
                </div>
                
                <!--<span><i style="color: black; "class="fa-solid fa-star fa-xl"></i>-->
                    {% if i.recommended %}
                    <i class="fa-solid fa-star fa-lg"></i>
                    {% else %}
                    <i class="fa-regular fa-star fa-lg"></i>
                    {% endif %}
            </div>
            <span class="blog-text">
                <p class="general-text">{{i.introduction}}
                </p>
            </span>
            
            
        </div>
        <span>
            {% if i.tag1 %}
            <p class="tag-design-1">#Environment</p>
            {% elif i.tag2 %}
            <p class="tag-design-2">#Society</p>
            {% elif i.tag3 %}
            <p class="tag-design-3">#Health</p>
            {% elif i.tag4 %}
            <p class="tag-design-4">#Economy</p>
            {% elif i.tag5 %}
            <p class="tag-design-5">#Art</p>
            {% elif i.tag6%}
            <p class="tag-design-6">#Technology</p>
            {% elif i.tag7 %}
            <p class="tag-design-7">#Other</p>
            {% endif %}
        </span>
        <div style="position:absolute; bottom: 0; padding-bottom: 3px;">
            
            <span  class="span-blog" style="float: left">
            <a href="{% url 'detail' i.id %}" style="font-weight: 1000; text-decoration: none;" >Readmore <i class="fa-solid fa-arrow-right"></i></a>
            <i style="color: #a96232; margin-right: 5px; margin-left: 10px;" class="fa-solid fa-cookie-bite"></i> 
            {% if i.expectCookies > 1000 %}
            {% widthratio i.expectCookies|add:"-500" 1000 1 %}k
            {% else %}
            {{i.expectCookies}}
            {% endif %}
            
            <i style="margin-right: 5px; margin-left: 10px " class="fa-regular fa-eye"></i>
            {% if i.views > 1000 %}
            <p style="display: inline;">{% widthratio i.views|add:"-500" 1000 1 %}k</p>
            {% else %}
            <p style="display: inline;" >{{i.views}}</p>
            {% endif %}
            {% if i.id in like %}
            <i onclick="changeHeart({{i.id}})" id="LikeHeart{{i.id}}"
                style="margin-left: 10px; margin-right: 5px; cursor: pointer;" class="fa-solid fa-heart ">
            </i>
            {% else %}
            <i onclick="changeHeart({{i.id}})" id="LikeHeart{{i.id}}"
                style="margin-left: 10px; margin-right: 5px; cursor: pointer;" class="fa-regular fa-heart ">
            </i>
            {% endif %}
            {% if i.like > 1000 %}
            <p style="display: inline;">{% widthratio i.like|add:"-500" 1000 1 %}k</p>
           
            {% else %}
            <p style="display: inline;" id="like{{i.id}}">{{i.like}}</p>
            {% endif %}</span>
        </div>
    </div>

    {% endif %}
    {% endfor %}

    <script>
        function changeHeart(num) {
            id = "LikeHeart" + num;
            likeId = "like" + num;
            let value = document.getElementById(id).className.split(" ");
            like = document.getElementById(likeId).innerHTML;
            console.log(value);
            console.log(id);
            if (value.includes("fa-solid")) {
                document.getElementById(id).classList.add('fa-regular');
                document.getElementById(id).classList.remove('fa-solid');
                $.ajax({
                    url: "/likeBlog",
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify({
                        'like': false, 
                        'blogId': num
                    }),
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": getCookie("csrftoken"),  // don't forget to include the 'getCookie' function
                    },
                    contentType: "application/json",
                    success: (data) => {
                        console.log(data);
                    },
                    error: (error) => {
                        console.log(error);
                    }
                    });
                document.getElementById(likeId).innerHTML = parseInt(like) - 1
                
            } else {
                document.getElementById(id).classList.add('fa-solid');
                document.getElementById(id).classList.remove('fa-regular');
                $.ajax({
                    url: "/likeBlog",
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify({
                        'like': true, 
                        'blogId': num
                    }),
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": getCookie("csrftoken"),  // don't forget to include the 'getCookie' function
                    },
                    contentType: "application/json",
                    success: (data) => {
                        console.log(data);
                    },
                    error: (error) => {
                        console.log(error);
                    }
                    });
                    document.getElementById(likeId).innerHTML = parseInt(like) + 1
                
            }
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + "=")) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
                }
            }
            return cookieValue;
            }
    </script>
    {% endblock %}